<div class="mt-100 me-auto ms-auto pb-5" style="width: 500px;">
	<mat-card class="mat-elevation-z3">
		<mat-card-title class="text-center ps-3 pt-5 pe-3">Get A New Password</mat-card-title>

		<mat-card-content class="p-4">
			<form [formGroup]="resetPasswordFormGroup" (ngSubmit)="resetPassword()">
				<mat-form-field appearance="outline" class="w-100">
				  <mat-label>New password</mat-label>
				  <input matInput type="password" formControlName="password" />
				  <mat-error *ngIf="password?.hasError('required')">Password is required</mat-error>
				  <mat-error *ngIf="password?.hasError('minlength')">Password must be at least 6 characters</mat-error>
				</mat-form-field>

				<mat-form-field appearance="outline" class="w-100">
				  <mat-label>Repeat password</mat-label>
				  <input matInput type="password" formControlName="passwordRepeat" />
				  <mat-error *ngIf="passwordRepeat?.hasError('required')">Repeat password is required</mat-error>
				  <mat-error *ngIf="passwordRepeat?.hasError('passwordMissMatch') || passwordRepeat?.hasError('serverError')">
				    Passwords do not match or server error
				  </mat-error>
				</mat-form-field>

				<mat-card-actions align="end" style="padding-right: 8px;">
					<button mat-raised-button color="primary" type="submit">Submit</button>
				</mat-card-actions>
			</form>
		</mat-card-content>

		<mat-card-footer *ngIf="fetchingResult">
			<mat-progress-bar mode="indeterminate"></mat-progress-bar>
		</mat-card-footer>
	</mat-card>
</div>
