<!--<c-header class="mb-4 d-print-none" position="sticky">-->
<ng-container>
  <c-container [fluid]="true" class="border-bottom px-4">
    <button
      [cSidebarToggle]="sidebarId()"
      cHeaderToggler
      class="btn"
      toggle="visible"
      style="margin-inline-start: -14px;"
      aria-label="Toggle sidebar navigation"
    >
      <svg cIcon name="cilMenu" size="lg"></svg>
    </button>
    <c-header-nav class="d-none d-md-flex">
      <c-nav-item>
        <a cNavLink routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </c-nav-item>
      <c-nav-item>
        <a cNavLink routerLink="/user/edit-profile" routerLinkActive="active">Users</a>
      </c-nav-item>
      <c-nav-item>
        <a cNavLink routerLink="/user/settings" routerLinkActive="active">Settings</a>
      </c-nav-item>
    </c-header-nav>
    <c-header-nav (click)="onNotificationsClick()" class="d-none d-md-flex ms-auto">
      <div class="position-relative">
        <c-dropdown [popperOptions]="{ placement: 'bottom-end' }" variant="nav-item">
          <button (click)="handleUnseenNotifications()" [caret]="false" aria-label="Ouvrir les notifications"
                  cDropdownToggle class="d-flex flex-column align-items-center">
            <svg cIcon class="my-1" name="cilBell" size="lg"></svg>
            <ng-container *ngIf="notifications$ | async as notifis">
              <c-badge class="ms-2" color="danger">{{ notifis }}</c-badge>
            </ng-container>
          </button>
          <ul cDropdownMenu class="p-2 shadow end-0 mt-2"
              style="min-width: 320px; max-height: 400px; overflow-y: auto; z-index: 1050;">
            <li>
              <h6 cDropdownHeader>Notifications</h6>
            </li>
            <ng-container *ngIf="notifications.length > 0; else noNotif">
              <li *ngFor="let notif of notifications" [class.fw-bold]="!notif.isSeen" class="dropdown-item">
                <span>{{ notif.type }}</span>
                <div><span class="fw-semibold">{{ notif.sender.firstName }} {{ notif.sender.lastName }}</span></div>
                <div class="small text-muted">{{ notif.dateCreated | date:'short' }}</div>
              </li>
            </ng-container>
            <ng-template #noNotif>
              <li class="dropdown-item text-center text-muted">Aucune notification</li>
            </ng-template>
          </ul>
        </c-dropdown>
      </div>
      <a cNavLink>
        <svg cIcon class="my-1" name="cilList" size="lg"></svg>
      </a>
      <a (click)="onMessageClick()" cNavLink class="d-flex flex-column align-items-center">
        <svg cIcon class="my-1" name="cilEnvelopeOpen" size="lg"></svg>
        <ng-container *ngIf="messages$ | async as messages">
          <c-badge class="ms-2 " color="success"> {{ messages }}</c-badge>
        </ng-container>
      </a>
    </c-header-nav>

    <c-header-nav class="ms-auto ms-md-0">
      <div class="nav-item py-1">
        <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
      </div>
      <ng-container *ngTemplateOutlet="themeDropdown" />
      <div class="nav-item py-1">
        <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
      </div>
    </c-header-nav>

    <c-header-nav class="mx-0">
      <ng-container *ngTemplateOutlet="userDropdown" />
    </c-header-nav>

  </c-container>
</ng-container>
<!--</c-header>-->
<ng-template #userDropdown>
  <c-dropdown [popperOptions]="{ placement: 'bottom-start' }" variant="nav-item">
    <button [caret]="false" cDropdownToggle class="py-0 pe-0" aria-label="Open user menu">
      <c-avatar
        shape="rounded-1"
        size="md"
        src="{{ (authUser?.profilePhoto ? authUser?.profilePhoto : defaultProfilePhotoUrl) }}"
        status="success"
        textColor="primary"
        alt="User avatar"
      />
    </button>
    <ul cDropdownMenu class="pt-0 w-auto">
      <li>
        <h6 cDropdownHeader class="bg-body-secondary text-body-secondary fw-semibold py-2 rounded-top">
          Account : {{ authUser?.firstName }} {{ authUser?.lastName }}
        </h6>
      </li>

      <li>
        <a cDropdownItem routerLink="/user/chat">
          <svg cIcon class="me-2" name="cilEnvelopeOpen"></svg>
          Messages
        </a>
      </li>
      <li>
        <a cDropdownItem routerLink="/user/timeline">
          <svg cIcon class="me-2" name="cilTask"></svg>
          Posts
        </a>
      </li>

      <li>
        <h6 cDropdownHeader class="bg-body-secondary text-body-secondary fw-semibold py-2">
          Settings
        </h6>
      </li>
      <li></li>
      <li>
        <a cDropdownItem routerLink="/user/edit-profile" routerLinkActive="active">
          <svg cIcon class="me-2" name="cilUser"></svg>
          Profile
        </a>
      </li>
      <li>
        <a cDropdownItem routerLink="/user/settings" routerLinkActive="active">
          <svg cIcon class="me-2" name="cilSettings"></svg>
          Settings
        </a>
      </li>

      <li>
        <hr cDropdownDivider />
      </li>
      <li>
        <a cDropdownItem routerLink="" (click)="handleLogout()">
          <svg cIcon class="me-2" name="cilAccountLogout"></svg>
          Logout
        </a>
      </li>
    </ul>
  </c-dropdown>
</ng-template>

<ng-template #themeDropdown>
  <c-dropdown alignment="end" variant="nav-item">
    <button [caret]="false" cDropdownToggle aria-label="Open theme picker">
      <svg cIcon [name]="icons()" size="lg"></svg>
    </button>
    <div cDropdownMenu>
      @for (mode of colorModes; track mode.name) {
        <button
          (click)="colorMode.set(mode.name)"
          [active]="colorMode()===mode.name"
          cDropdownItem
          class="d-flex align-items-center"
        >
          <svg cIcon class="me-2" [name]="mode.icon" size="lg"></svg>
          {{ mode.text }}
        </button>
      }
    </div>
  </c-dropdown>
</ng-template>
